<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    
</head>
<body style="background-color: cornsilk;">
    <br>
    <div class="clear">
    <img src="../static/Cart Logo/Logo.jpg" style="float: right;">
    </div>
    <h1>Our Story</h1>
    <h2>2020 – The Year it all began</h2>
    <p>
        <p>The COVID-19 pandemic changed our lives.

We understood the importance of leading a healthy lifestyle and being free of any health issues or co-morbidities.
</p>
<p>It gave us a chance to take a pause and reflect upon our food choices.</p>

<p>We started cooking ourselves and realized that when we chose convenience foods we had a high price to pay even though the labels signalled otherwise. We saw first-hand how easily accessible convenience foods from the processed food industry rank very low in nutritional value and contain immense amounts of artificial ingredients. Many of these are responsible for several health issues our generation faces.

We then started choosing products which are free from chemicals / pesticides and other harmful additives. Very soon we realized they were not very easily accessible. 
<p>We wanted to solve this. 

We strongly believe that the world needs to switch to organic and natural products to ensure sustained wellness for our bodies while protecting our planet. It is vital to restore the balance which has been disrupted. It needs to be done to safeguard ourselves as well as our future generations.</p>
</p>
<p>To “Live well” we need to “Eat Well”. The numerous benefits of organic and natural products simply outweigh the marginally higher prices considering the increased cost of cultivation. We urge our fellow humans to transform their habits to maximize the adoption of organic and natural choices in our day to day lives.

We wish to contribute to this transformation! </p>
    </p>
</body>
</html>