{% extends "layout.html" %}

{% block content %}
      <!--Main Section-->

      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="text-center text-capitalize">Featured Products</h1>
              </div>
          </div>
    
          <hr>
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/7Up.png" class="card-img-top responsive7 " alt="" height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">7UP</h5>
                      <p class="card-text responsive2">MRP :<span class="productPrice"> 30 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/Appy.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Appy</h5>
                      <p class="card-text responsive2">MRP :<span class="productPrice"> 20 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/Boost.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Boost</h5>
                      <p class="card-text responsive2">MRP :<span class="productPrice"> 50 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/Bru Coffee.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Bru Coffee</h5>
                      <p class="card-text responsive2">MRP :<span class="productPrice"> 40 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      </div>



   <!--2nd Row -->
      <br>
      <div class="container">
    
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Coco Cola.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Coco Cola(300 ml)</h5>
                    <p class="card-text responsive2">MRP :<span class="productPrice"> 30 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Coconut Water.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Coconut Water(80ml) </h5>
                    <p class="card-text responsive2">MRP :<span class="productPrice"> 25 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Frooti.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Frooti  ( 150 ml )</h5>
                    <p class="card-text responsive2">MRP :<span class="productPrice"> 30 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Fruit Juice.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Fruit Juice (300 ml)</h5>
                    <p class="card-text responsive2">MRP :<span class="productPrice"> 50 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!--3rd Row -->
    <br>
    <div class="container">
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/Hazlenut Flavoured Syrup.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Hazlenut Syrup</h5>
                  <p class="card-text responsive2">MRP :<span class="productPrice"> 70 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/MangoShake.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Mango Shake</h5>
                  <p class="card-text responsive2">MRP :<span class="productPrice"> 80 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/Mazaa.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Mazaa(Mango)</h5>
                  <p class="card-text responsive2">MRP :<span class="productPrice"> 80 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/Mineral Water.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Mineral Water</h5>
                  <p class="card-text responsive2">MRP :<span class="productPrice"> 50 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>





  <!--4th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Mirinda.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Mirinda(1.5 L)</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 40 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/MountainMao.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Mountain Mao</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 60 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Nescafe Coffee.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Nescafe Coffee</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 70 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Pepsi.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Pepsi (1.5 Litre)</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 50 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>





<!--5th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Pulpy Orange.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Orange</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 70 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Real Juice.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Real Juice</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 80 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/RedBull.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">RedBull</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 80 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Soda Ginger.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Soda Ginger</h5>
                <p class="card-text responsive2">MRP :<span class="productPrice"> 60 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>



<!--6th Row -->
<br>
<div class="container">

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/Sprite.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Sprite</h5>
              <p class="card-text responsive2">MRP :<span class="productPrice"> 35 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/Tea.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Tea</h5>
              <p class="card-text responsive2">MRP : <span class="productPrice">100 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/ThumpsUp.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">ThumsUp</h5>
              <p class="card-text responsive2">MRP :<span class="productPrice"> 40 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/Tropicana.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Tropicana</h5>
              <p class="card-text responsive2">MRP :<span class="productPrice"> 70 </span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
  </div>
</div>
</div>

{% endblock %}