<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beverages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bgnav">
    <div class="container-fluid">
        <img src="../static/Cart Logo/Logo.jpg" class="logo" alt="Not Found" height="100px" width="100px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="Dropdown">SHOP BY CATEGORY</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/Grocery1">Home</a></li>
              <li><a class="dropdown-item" href="/Fruits" >Fruits</a></li>
              <li><a class="dropdown-item" href="/Vegetables">Vegetables</a></li>
              <li><a class="dropdown-item" href="/Beverages">Beverages</a></li>
              <li><a class="dropdown-item" href="#">Snacks</a></li>

            </ul>
          </li>
        </ul>
        <form class="d-flex searchres" style="margin-right: 20%;">
          <input class="form-control me-2" style="width: 400px;" type="search" placeholder="Search" aria-label="Search" >
          <button class="btn  search" type="submit">Search</button>
        </form>
        <br>
        <button style="font-size:20px; background-color: black;color: white;" class="cart">Cart<i class="fa fa-shopping-cart "></i></button>
        <button onclick="change()" style="font-size:20px; background-color: black;color: white;"  class="cart">Logout</button>
        
     </div>
    </div>
  </nav>

      <!--Main Section-->

      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="text-center text-capitalize">Featured Products</h1>
              </div>
          </div>
    
          <hr>
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/7Up.png" class="card-img-top responsive7 " alt="" height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">7UP</h5>
                      <p class="card-text responsive2">MRP : 30 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                      <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/Appy.webp" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Appy</h5>
                      <p class="card-text responsive2">MRP : 20 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                      <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/Boost.webp" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Boost</h5>
                      <p class="card-text responsive2">MRP : 50 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                      <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Beverages/Bru Coffee.webp" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Bru Coffee</h5>
                      <p class="card-text responsive2">MRP : 40 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                      <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      </div>



   <!--2nd Row -->
      <br>
      <div class="container">
    
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Coco Cola.webp" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Coco Cola(300 ml)</h5>
                    <p class="card-text responsive2">MRP : 30 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                    <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Coconut Water.webp" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Coconut Water(80ml) </h5>
                    <p class="card-text responsive2">MRP : 25 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                    <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Frooti.webp" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Frooti  ( 150 ml )</h5>
                    <p class="card-text responsive2">MRP : 30 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                    <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Beverages/Fruit Juice.webp" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Fruit Juice (300 ml)</h5>
                    <p class="card-text responsive2">MRP : 50 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                    <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!--3rd Row -->
    <br>
    <div class="container">
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/Hazlenut Flavoured Syrup.webp" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Hazlenut Syrup</h5>
                  <p class="card-text responsive2">MRP : 70 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                  <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/MangoShake.webp" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Mango Shake</h5>
                  <p class="card-text responsive2">MRP : 80 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                  <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/Mazaa.webp" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Mazaa(Mango)</h5>
                  <p class="card-text responsive2">MRP : 80 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                  <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Beverages/Mineral Water.webp" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Mineral Water</h5>
                  <p class="card-text responsive2">MRP : 50 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                  <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>





  <!--4th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Mirinda.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Mirinda(1.5 L)</h5>
                <p class="card-text responsive2">MRP : 40 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/MountainMao.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Mountain Mao</h5>
                <p class="card-text responsive2">MRP : 60 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Nescafe Coffee.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Nescafe Coffee</h5>
                <p class="card-text responsive2">MRP : 70 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Pepsi.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Pepsi (1.5 Litre)</h5>
                <p class="card-text responsive2">MRP : 50 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
    </div>
</div>
</div>





<!--5th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Pulpy Orange.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Orange</h5>
                <p class="card-text responsive2">MRP : 70 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Real Juice.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Real Juice</h5>
                <p class="card-text responsive2">MRP : 80 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/RedBull.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">RedBull</h5>
                <p class="card-text responsive2">MRP : 80 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Beverages/Soda Ginger.webp" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Soda Ginger</h5>
                <p class="card-text responsive2">MRP : 60 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
              </div>
            </div>
        </div>
    </div>
</div>
</div>



<!--6th Row -->
<br>
<div class="container">

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/Sprite.webp" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Sprite</h5>
              <p class="card-text responsive2">MRP : 35 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
              <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/Tea.webp" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Tea</h5>
              <p class="card-text responsive2">MRP : 100 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
              <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/ThumpsUp.webp" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">ThumsUp</h5>
              <p class="card-text responsive2">MRP : 40 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
              <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Beverages/Tropicana.webp" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Tropicana</h5>
              <p class="card-text responsive2">MRP : 70 Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
              <a href="#" class="btn btn-primary"><span class="responsive4">Add to Cart</span></a>
            </div>
          </div>
      </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
      

</body>
</html>