<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Cart</title>
    <style>
        .styling{
            margin-top: 100px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }
        .desc{
            font-size: 3rem;
            color: blueviolet;
        }
        .btn{
            margin-top: 15px;
            padding: 15px 30px;
            text-transform: uppercase;
            background-color: orange;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="styling">
    <div class="desc">{{desc}}</div>
    <button onclick="btHome()" class="btn" ><span>&#8592;</span>Continue Shopping </button>
</div>

<script>
    function btHome(){
        window.location.replace("/Grocery1");
    }
</script>
</body>
</html>