{% extends "layout.html" %}
      <!--Main Section-->
{% block content %}
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="text-center text-capitalize">Featured Products</h1>
              </div>
          </div>
    
          <hr>
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                 <div class="card responsive5">
                    <img src="../static/Fruits/Mango.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Mango</h5>
                      <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 300</span>Rs <br> Quantity : <input type="number"  min="1" name="mango" class="responsive" id="Mango"></p>
                      <button  class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 ">
                <div class="card responsive5" >
                    <img src="../static/Fruits/Apple.png" class="card-img-top responsive7 " alt="..." height="230px" >
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Apple</h5>
                      <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 200</span>Rs
                         <br> Quantity : <input type="number" min="1" name="apple" id="Apple" class="responsive"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5" >
                    <img src="../static/Fruits/Guava.png" class="card-img-top responsive7 " alt="..." height="230px" >
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Guava</h5>
                      <p class="card-text responsive2">MRP : 500gm -<span class="productPrice"> 35</span> Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="Guava"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5" >
                    <img src="../static/Fruits/Orange.png" class="card-img-top responsive7 " alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Orange</h5>
                      <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice">  50</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="Orange"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      </div>



   <!--2nd Row -->
      <br>
      <div class="container">
    
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Fruits/Dragon Fruit.png" class="card-img-top responsive7 " alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Dragon Fruit</h5>
                    <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 70</span>Rs  <br> Quantity : <input type="number" class="responsive"  min="1" name="mango" id="mango"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Fruits/Avocado.png" class="card-img-top responsive7 " alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Avacado</h5>
                    <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 200</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="app"></p>                
                     <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Fruits/Amla.png" class="card-img-top responsive7 " alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Amla</h5>
                    <p class="card-text responsive2">MRP : 500gm -<span class="productPrice"> 35</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Fruits/Banana.png" class="card-img-top responsive7 " alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Banana</h5>
                    <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 50</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!--3rd Row -->
    <br>
    <div class="container">
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Fruits/Chiku.png" class="card-img-top responsive7 " alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Chiku</h5>
                  <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 100</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Fruits/Coconut.png" class="card-img-top responsive7 " alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Coconut</h5>
                  <p class="card-text responsive2">MRP : 1 piece <span class="productPrice"> 30</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="app" id="apple"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Fruits/Kiwi.png" class="card-img-top responsive7 " alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Kiwi</h5>
                  <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 100</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Fruits/Raw Mango.png" class="card-img-top responsive7 " alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Raw Mango</h5>
                  <p class="card-text responsive2">MRP : 1 dozen - <span class="productPrice">160</span> Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>





  <!--4th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Fruits/Pear.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Pear</h5>
                <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 200</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Fruits/Pineapple.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Pineapple</h5>
                <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 50</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Fruits/Watermelon.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Watermelon</h5>
                <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 70</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Fruits/Sweet Corn.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Sweet Corn</h5>
                <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 20</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>





<!--5th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive6">
              <img src="../static/Fruits/Papaya.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-titletitle responsive1">Papaya(Papaw)</h5>
                <p class="card-text responsive2 ">MRP : 1 piece -<span class="productPrice"> 40</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive6">
              <img src="../static/Fruits/Pomegranate.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Pomegranate</h5>
                <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 30</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive6">
              <img src="../static/Fruits/TenderCoconut.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Tender Coconut</h5>
                <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 70</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Fruits/Black Grapes.png" class="card-img-top responsive7 " alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Black Grapes</h5>
                <p class="card-text responsive2">MRP : 1 kg - <span class="productPrice">100</span> Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>



<!--6th Row -->
<br>
<div class="container">

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Fruits/Grapes.png" class="card-img-top responsive7 " alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Grapes</h5>
              <p class="card-text responsive2">MRP : 500 gm -<span class="productPrice">  40</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="grapes"></p>
              <button class="btn btn-primary responsive3"> <span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Fruits/Grape Fruit.png" class="card-img-top responsive7 " alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1" >Grape Fruit</h5>
              <p class="card-text responsive2">MRP : 1 dozen -<span class="productPrice"> 200</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="grapes"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Fruits/Muskmelon.png" class="card-img-top responsive7 " alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Muskmelon</h5>
              <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 70</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Fruits/Passion Fruit.png" class="card-img-top responsive7 " alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Passion Fruit</h5>
              <p class="card-text responsive2">MRP : 1 piece -<span class="productPrice"> 30</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
  </div>
</div>
</div>

{% endblock %}

