{% extends "layout.html" %}

{% block title %} Grocery Store {% endblock %}

{% block content %}
<!--Main Section-->
<div class="container1">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">    
    <div class="carousel-item active">
      <img src="../static/Vegetables/Vegetables.jpeg" class="d-block w-100" height="600px" alt="..."> 
    </div>
    <div class="carousel-item">
      <img src="../static/Fruits/fruits.jpg" class="d-block w-100" height="600px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/Beverages/Beverages.jpeg" class="d-block w-100" height="600px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/Snacks/Snack.jpg" class="d-block w-100" height="600px" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon " aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<!-- Fruits -->
<br> <br>  
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
      <h1 class="text-center">Fruits</h1>
      <hr>
      <br>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card" style="width: 95%;height: 450px;">
          <a href="/Fruits"><img src="../static/Fruits/FruitsBack.jpg" class="card-img-top" alt="..." height="100%"></a>
          <div class="card-body">
            <h5 class="card-title text-capitalize text-center">Daily Fresh</h5>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Fruits"><img src="../static/Fruits/Guava.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Guava</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card " style="width: 250px;height: 220px;">
             <a href="/Fruits"> <img src="../static/Fruits/Mango.png" class="card-img-top" alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Mango</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
             <a href="/Fruits"> <img src="../static/Fruits/Orange.png" class="card-img-top" alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Orange</h5>
              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
            <a href="/Fruits"><img src="../static/Fruits/Dragon Fruit.png" class="card-img-top" alt="..." height="180px" width="150px"></a>  
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Dragon Fruit</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>



<!-- Vegetables -->
<br> <br>  
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
      <h1 class="text-center">Vegetables</h1>
      <hr>
      <br>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card" style="width: 95%;height: 450px;">
      <a href="/Vegetables">   <img src="../static/Vegetables/Vegetables.jpeg" class="card-img-top" alt="..." height="100%"></a> 
          <div class="card-body">
            <h5 class="card-title text-capitalize text-center">Daily Fresh Vegetables</h5>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Vegetables">  <img src="../static/Vegetables/Potato.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Potato</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Vegetables">     <img src="../static/Vegetables/Onion.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Onion</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
              <a href="/Vegetables">  <img src="../static/Vegetables/Methi.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Methi</h5>
              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
              <a href="/Vegetables">   <img src="../static/Vegetables/Tomato.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Tomato</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>



<!-- Snacks -->
<br> <br>  
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
      <h1 class="text-center">Snacks</h1>
      <hr>
      <br>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card " style="width: 95%;height: 450px;">
          <a href="/Snacks">   <img src="../static/Snacks/Snackmain.jpg" class="card-img-top" alt="..." height="100%"></a>
          <div class="card-body">
            <h5 class="card-title text-capitalize text-center">Snacks</h5>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Snacks">  <img src="../static/Snacks/Lays.jpg" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Lays</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Snacks">   <img src="../static/Snacks/Maggi.jpg" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Maggi</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
              <a href="/Snacks">  <img src="../static/Snacks/MoongDal.jpg" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">MoongDal</h5>
              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
              <a href="/Snacks">  <img src="../static/Snacks/Soyasticks.jpg" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Soyasticks</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>




<!-- Beverages -->
<br> <br>  
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
      <h1 class="text-center">Beverages</h1>
      <hr>
      <br>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card" style="width: 95%;height: 450px;">
          <a href="/Beverages">  <img src="../static/Beverages/Beveragesmain.jpeg" class="card-img-top" alt="..." height="100%"></a>
          <div class="card-body">
            <h5 class="card-title text-capitalize text-center">Munchies</h5>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Beverages"> <img src="../static/Beverages/7Up.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">7UP</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;">
              <a href="/Beverages">   <img src="../static/Beverages/Appy.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Appy</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
              <a href="/Beverages"> <img src="../static/Beverages/Real Juice.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Real Juice</h5>
              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card" style="width: 250px;height: 220px;margin-top: 10px;" >
              <a href="/Beverages">   <img src="../static/Beverages/Pepsi.png" class="card-img-top " alt="..." height="180px" width="150px"></a>
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">Pepsi</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>


{% endblock %}