<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form class="box">
      <h1>Login</h1>
      <input type="text" name="" placeholder="Username" id="username" />
      <input type="password" name="" placeholder="Password" id="password" />
      <input type="submit" name="" value="Login" />
      <div class="container">
        <button onclick="log()">Login</button>
      </div>
    </form>

    <script>
      function log() {
        {
          alert("This");
          window.location.href = "Grocery1.html";
        }
      }
    </script>
  </body>
</html>
