<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/CSS/style.css">
    </head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light bgnav">
    <div class="container-fluid">
        <img src="../static/Cart Logo/Logo.jpg" class="logo" alt="Not Found" height="100px" width="100px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="Dropdown" style="font-size: 1.5rem;">SHOP BY CATEGORY</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/Grocery1">Home</a></li>
              <li><a class="dropdown-item" href="/Fruits" >Fruits</a></li>
              <li><a class="dropdown-item" href="/Vegetables">Vegetables</a></li>
              <li><a class="dropdown-item" href="/Beverages">Beverages</a></li>
              <li><a class="dropdown-item" href="/Snacks">Snacks</a></li>

            </ul>
          </li>
        </ul>
        
        <br>
        <a href="/Logout"><button  style="font-size:20px; background-color: orange;color: white;padding:8px 16px;"  class="cart">Logout</button></a>
        
     </div>
    </div>
  </nav>
    
  <header>
    <h1 style="position: absolute;top:35px;left:37%;color: white;">FRESH GROCERY STORE</h1>
  </header>

  <div class="container" style="margin-top: 20px;margin-bottom: 20px;">
    <table class="table" width=100%>
      <thead class="thead-dark">
        <tr class="table-dark">
            
            <th>TITLE</th>
            <th>QUANTITY</th>
            <th>PRICE</th>
            <th>IMAGE</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for data in datas['info'] %}
        <tr style="align-items: center;">
            
            <td>{{data[2]}}</td>
            <td>{{data[5]}}</td>
            <td>{{data[3]}}</td>
            <td><img src={{data[4]}} style="height: 100px;width: 100px;padding-top: 0px;"></td>
            <td><button class="deleteitembutton" style="background-color: red; color: white;" id="{{data[0]}}"  onclick="deleteNote({{data[0]}})" >Delete</button></td>
           
        </tr>   
    {% endfor %} 
    </tbody>   
    </table>
    <h1>Total Amount : <span>&#8377;</span>{{datas['sum']}}</h1>
    <br><br>
    <button style="display: flex;justify-content: center; margin:0 auto; background-color: orange;color: white;padding:8px 16px; text-align: center;" onclick="order()">Order Now</button>
</div>


     
       <script src="../static/JS/main.js"></script>
       <script src="../static/JS/cartjs.js"></script>
  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script>
          function change(){
            window.location.replace("Login.html");
          }
        </script>
    </body>
        
     </html>