<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <p>
        <h1 style="text-align: center;">Privacy Policy</h1>
<h2>Introduction
</h2>
<p>Super Organic Market Retail Private Limited, a private limited company incorporated under the Companies Act, 2013 and having its registered office at Mumbai offers a wide variety of products for sale through the website / application (www.superorganicmarket.com)

This Privacy Policy read along with the Terms & Conditions explains the Company’s approach to Data Protection and Privacy to fulfil obligations under applicable laws / regulations. Everyone who accesses the website / app is considered a user and is bound by this privacy policy.

This Privacy Policy applies to your data which is processed by us either in physical or electronic mode. Throughout this document, “we”, “us”, “our”, “ours”, “the company”, “Super Organic Market”, “SOMRPL” refers to Super Organic Market Retail Private Limited. Wherever we mention ‘you’ or ‘your’, this refers to you / user / visitor.
</p>
<h2>Your Consent
</h2>
<p>By using our Website / application and/ or by providing your information, you consent to the collection and use of the information you disclose in accordance with this Privacy Policy.
</p>
<h2>Information covered under this policy
</h2>
<p>We receive and store any information you provide while using our website / application or give us in any other way. We might receive information about you from other sources as well.

The information we gather is used for a variety of reasons such as registration, verification, order confirmation and any communication by SOMRPL. We also use this information to customize your experience and improve our service. We may also use this for personalizing our offering to you. We may also use third party services to optimize our services which may also collect data from you.

The various types of data we collect and store may include the following but are not limited to:

Name, Contact number, Address, Email ID, DOB etc
 
Transaction related data including payment mode and details
 
Publicly available information about you
 
Location, Device Info, IP Address, Usage activity, Network carrier
 
Any information gathered using cookies and trackers
 
Any information gathered through any communication with you
Why we gather your personal data

We use your personal information to operate, provide, develop, and improve our products and services
 
Confirm, handle and deliver orders and services, process payments and communicate via chat/mail/call/other modes for service and promotional related reasons
 
Fix issues and improve our services
 
Personalize suggestions and recommend products / offers based on your interest
Disclosing your data to other parties:

We may disclose your data for any of the above purposes to other parties including:

Any service providers, subcontractors or agents who we work with or receive services from (including their employees or sub-contractors or service providers)
 
Government authorities, courts, regulatory bodies, overseas regulators, auditors and any entity appointed or requested to carry out investigations or audits
 
To address security or resolve issues
 
Anybody else as may be instructed by you

<h2>Data Security
</h2>
<p>We take reasonable steps to ensure safeguards are in place to protect your data from unauthorized access and transmission. We use encryption protocols and controls to help protect data and our infrastructure. We also ensure our service partners also take measures to protect your data in line with our goal. Data we gather about you may be transferred to other countries outside your country for any of the purposes described in this Privacy Policy.
</p>
Although the Company endeavours to safeguard the confidentiality of your personal information, transmissions made by means of the Internet cannot be made absolutely secure. By using the website, you agree that SOMRPL will have no liability for disclosure of your information due to errors in transmission and/or unauthorized acts of third parties.
</p>
<h2>Links to Other Websites
</h2>
<p>Our website may contain links to websites of other organisations. This privacy policy does not cover how those organisations process your data. We encourage you to read the privacy policies on these websites.
</p>
<h2>Policy Updates
</h2>
<p>SOMRPL reserves the right to change or update this policy at any time. Such changes shall be effective immediately upon posting to the site. We request you to review this policy periodically since your usage of the website / app / our services will be deemed to be an acceptance of the policy.
</p> </p>
</body>
</html>