<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><h1 style="text-align: center;">Terms And Conditions</h1>
      <p>The use of this website / application is subject to the following terms & conditions. We encourage you to carefully read these before using the website / application. Upon visiting and using this website you acknowledge and agree to these terms & conditions.
        
        “SOMRPL” / “Company” / “We” / “Our” refers to Super Organic Market Retail Private Limited and “Platform(s)” refers to our website/application.
        
        </p>
        <h2>Changes to Terms & Conditions</h2>
        
  <p>      SOMRPL reserves the right to update / change / modify these terms at any time at its discretion.
</p>       
    <h2>    Privacy Policy</h2>
        
    <p>    We treat data privacy seriously. It is important that you know what we do with your personal data. Please refer to our privacy policy at Privacy Policy for details.
    </p> 
        <h2>General
        </h2>        
        <p>You will not use the website/application for illegal purposes and will abide by all applicable laws and regulations applicable. You shall not disrupt the use of the platforms by other users. You shall not impersonate any person or entity and mislead the company in any way.
        
        All users of the website confirm that they are competent to contract under Indian laws.
        
        SOMRPL is not responsible for any damages (direct/indirect) resulting from the use of its website/application by anyone. Any third-party websites linked are provided only for convenience. The company does not endorse and cannot be held responsible for any such content or any damage that may result from such third-party links.
        
        The failure of SOMRPL to exercise or enforce any right or provision in this Agreement will not constitute a waiver of such right or provision.
        </p>

       <h2> Force Majeure</h2>
        <p>
        SOMRPL will not be deemed in default or held responsible for any interruption or delay in the performance of its obligations due to any force majeure events including but not limited to flood, fire, storm, natural disaster, act of God, war, terrorism, armed conflict, labour strike, lockdown or boycott.
        
        Communication with Customers
        
        Notwithstanding a user/customer’s registration with National Do Not Call Registry (In Fully or Partly blocked category under National Customer Preference Register set up under Telecom Regulatory Authority of India), the user/customer hereby expresses their interest and accord their wilful consent to receive communication (including commercial communication) in relation to company name. You further confirm that any communication, as mentioned herein above, shall not be construed as Unsolicited Commercial Communication under the TRAI guidelines and you have specifically opted to receive communication in this regard on the telephone number provided. You further authorise SOMRPL to share/disclose the information to any third-party service provider or any affiliates, group companies, their authorised agents or third-party service providers.
        </p>
        <h2>Shipping Policy</h2>
        
      <p>  We ship products only within India. We charge a delivery fee of INR 75 for every order below INR 1000. Orders amounting to INR 1000 and above will be shipped without delivery charges. We use only reputed delivery/courier partners to ship your order to you and endeavor to deliver your products in the shortest time possible. Delivery timeline will be communicated to you based on the delivery location. Please note that shipping charges can be modified at any time by SOMRPL.
        </p>
      <h2>  Returns & Refund Policy</h2>
      <ol>
        Products can be returned for a refund if:
        
         <li>You received a wrong product</li>
        
         <li>You received a damaged product</li>
        
         <li>You received a product past it's expiry date</li>
      </ol>
        <p>Any return / refund request needs to be placed within 24 hours from the delivery of the shipment. You can raise a return / refund request by visiting the My Orders section. You would need to upload a picture of the product highlighting the issue to proceed with the return / refund.
        
        In case of damaged / pilferaged / tempered / leaked shipment, please do not accept the shipment. 
        
        Refunds typically take 5-7 days to reflect in your account. 
        
        You can use our live chat support / customer care number (022-4916-3003) or write to us on contactus@superorganicmarket.com.
        </p>
<h2>        Cancellation Policy</h2>
        
      <p>  Orders once placed successfully cannot be cancelled.
       </p> 
        <h2>Reviews & Feedback
        </h2>
        <p>All reviews and feedback by you shall be and remain the property of SOMRPL. The company shall not be limited in any way in its use of commercially or otherwise. We shall retain the right to take action on any such comment which may cause any injury to another person or entity.
        </p>
        <h2>Data Security
        </h2>
        <p>We take reasonable steps to ensure safeguards are in place to protect your data from unauthorized access and transmission. We use encryption protocols and controls to help protect data and our infrastructure. We also ensure our service partners also take measures to protect your data in line with our goal. Data we gather about you may be transferred to other countries outside your country for any of the purposes described in our Privacy Policy.
        
        Although the Company endeavours to safeguard the confidentiality of your personal information, transmissions made by means of the Internet cannot be made absolutely secure. By using the website, you agree that SOMRPL will have no liability for disclosure of your information due to errors in transmission and/or unauthorized acts of third parties.
    </p>
        <h2>Domestic Use
        </h2>
        <p>SOMRPL makes no representation that the website/application or products are appropriate or available to use in locations outside India. Anyone accessing these from outside India do so at their own risk and bear responsibility for compliance with any local laws. 
        </p>
        <h2>Governing Law & Jurisdiction
        </h2>
      <p>  The website and application are for use in India and if you visit or use our website/application from any other location, you would be responsible for complying with local laws. These terms & conditions shall be governed by the laws of the Republic of India. Any dispute shall only be brought in the appropriate courts of Mumbai.
    </p>
      <h2>  Termination
    </h2>
        <p>SOMRPL may terminate your access to any service provided through the website/application without advance notice for any reason whatsoever including a breach of these terms & conditions. Any termination of this Agreement shall not cancel the user’s obligation to pay for an order already placed with us or affect any liability that may have arisen under this Agreement.
        </p>
        <h2>Limitation of Liability
        </h2>
      <p>  SOMRPL will not be liable for any direct / indirect / consequential / incidental / special damages related to this agreement or the product sold through the platform.
        
        You agree that any claim or cause of action arising out of or related to use of the Website or Products or this Agreement must be filed within 3 months after such claim or cause of action arose or be forever barred.
    </p>
    <h2>    License
    </h2>
        <p>By using this platform, you are granted a limited, non-exclusive, non-commercial and non-transferable right to use the content and materials on the Website in connection with your use of the Website. You may not copy, reproduce, transmit, distribute, or create derivative works of such content or information without express written authorization of SOMRPL.
        </p>
       <h2> Indemnification</h2>
        
<p>        You will release, indemnify, defend and hold harmless SOMRPL and any of its directors, employees, contractors, agents, shareholders, affiliates and assigns from all liabilities, claims, damages, costs and expenses, including attorneys' fees and expenses relating to or arising out of your use of our platforms or content including but not limited to the products sold to you.
</p>     
        <h2>Disclaimer</h2>

    <p>    All content on the website/application is offered on “as is” basis without any warranty or guarantee whatsoever. You agree that the use of this site is at your sole risk. SOMRPL is not responsible for any damages resulting the use of the website/application by anyone. The website and application may contain information sourced from other parties/websites and may include nutritional/health related information. We cannot guarantee the authenticity of such data and disclaim all express or implied warranties including but not limited to fitness for a particular purpose including health concerns or any product feature or detail. We make no warranty that the information provided is accurate and reliable or complete.</p>
</p>
</body>
</html>



