{% extends "layout.html" %}

{% block content %}

      <!--Main Section-->

      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="text-center text-capitalize">Featured Products</h1>
              </div>
          </div>
    
          <hr>
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Vegetables/Beans.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Beans</h5>
                      <p class="card-text responsive2">MRP : 250g - <span class="productPrice">23</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Vegetables/Beetroot.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Beetroot</h5>
                      <p class="card-text responsive2">MRP : 500g - <span class="productPrice">12</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Vegetables/Brinjal.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Brinjal</h5>
                      <p class="card-text responsive2">MRP : 500g - <span class="productPrice">12</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card responsive5">
                    <img src="../static/Vegetables/Brocolli.png" class="card-img-top responsive7" alt="..." height="230px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title responsive1">Brocolli</h5>
                      <p class="card-text responsive2">MRP : 250g - <span class="productPrice">28</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                      <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      </div>



   <!--2nd Row -->
      <br>
      <div class="container">
    
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Vegetables/Cabbage.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Cabbage</h5>
                    <p class="card-text responsive2">MRP : 1pc -<span class="productPrice"> 12</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="m ngo"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Vegetables/Carrot.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Carrot</h5>
                    <p class="card-text responsive2">MRP : 500g -<span class="productPrice"> 36</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Vegetables/Cauliflower.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Cauliflower</h5>
                    <p class="card-text responsive2">MRP : 500 -<span class="productPrice"> 17</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card responsive5">
                  <img src="../static/Vegetables/Palak.png" class="card-img-top responsive7" alt="..." height="230px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title responsive1">Palak</h5>
                    <p class="card-text responsive2">MRP : 250g - 1<span class="productPrice">7.5</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id ="orange"></p>
                    <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!--3rd Row -->
    <br>
    <div class="container">
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Vegetables/Coriander Leaves.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Coriander</h5>
                  <p class="card-text responsive2">MRP : 100g -<span class="productPrice"> 10</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Vegetables/Cucumber.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Cucumber</h5>
                  <p class="card-text responsive2">MRP : 500g -<span class="productPrice"> 25</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id ="pple"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Vegetables/Garlic.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Garlic</h5>
                  <p class="card-text responsive2">MRP : 250g -<span class="productPrice"> 30</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id ="uava"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="card responsive5">
                <img src="../static/Vegetables/Ginger.png" class="card-img-top responsive7" alt="..." height="230px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title responsive1">Ginger</h5>
                  <p class="card-text responsive2">MRP : 250g -<span class="productPrice"> 10</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                  <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>





  <!--4th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/LadiesFinger.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">LadiesFinger</h5>
                <p class="card-text responsive2">MRP : 500g -<span class="productPrice"> 20</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id ="ango"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/Lemon.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Lemon</h5>
                <p class="card-text responsive2">MRP : 250g -<span class="productPrice"> 20</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/Methi.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Methi</h5>
                <p class="card-text responsive2">MRP : 100g -<span class="productPrice"> 10</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/Onion.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Onion</h5>
                <p class="card-text responsive2">MRP : 1kg -<span class="productPrice"> 25</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id=" range"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>





<!--5th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/Potato.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Potato</h5>
                <p class="card-text responsive2">MRP : 1kg -<span class="productPrice"> 21</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="m ngo"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/Radish.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Radish</h5>
                <p class="card-text responsive2">MRP : 500g -<span class="productPrice"> 13</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/Spinach.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">Spinach</h5>
                <p class="card-text responsive2">MRP : 250g -<span class="productPrice"> 26</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id="guava"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="card responsive5">
              <img src="../static/Vegetables/SpringOnion.png" class="card-img-top responsive7" alt="..." height="230px">
              <hr>
              <div class="card-body">
                <h5 class="card-title responsive1">SpringOnion</h5>
                <p class="card-text responsive2">MRP : 100g -<span class="productPrice"> 14</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id="orange"></p>
                <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
              </div>
            </div>
        </div>
    </div>
</div>
</div>



<!--6th Row -->
<br>
<div class="container">

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Vegetables/Capsicum.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Capsicum</h5>
              <p class="card-text responsive2">MRP : 200g -<span class="productPrice"> 27</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="mango" id="mango"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Vegetables/Sweet Potato.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">SweetPotato</h5>
              <p class="card-text responsive2">MRP : 500g -<span class="productPrice"> 20</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="apple" id="apple"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Vegetables/Tamarind.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Tamarind</h5>
              <p class="card-text responsive2">MRP : 500g - <span class="productPrice">119</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="guava" id=" uava"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card responsive5">
            <img src="../static/Vegetables/Tomato.png" class="card-img-top responsive7" alt="..." height="230px">
            <hr>
            <div class="card-body">
              <h5 class="card-title responsive1">Tomato</h5>
              <p class="card-text responsive2">MRP : 1kg -<span class="productPrice"> 18</span>Rs <br> Quantity : <input type="number" class="responsive" min="1" name="orange" id=" range"></p>
              <button class="btn btn-primary responsive3"><span class="responsive4">Add to Cart</span></button>
            </div>
          </div>
      </div>
  </div>
</div>
</div>

{% endblock %}